<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
</head>
<body>
<div class="container" >
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    
  <div>
    <h1>회원 목록</h1>

    
    <table class="table table-striped" >
        <thead>
            <tr>
            	<th>#</th>
                <th>이름</th>
                <th>아이디</th>
                <th>이메일</th>
                <th>가입일</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over members and display each member's details -->
            <tr th:each="member : ${members}">
            	<td th:text="${member.id}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.userId}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.createdate}"></td>
            </tr>
        </tbody>
    </table>
 	
 	 <!-- 검색 기능 추가 -->
    <form action="/member/list" method="post">
        <div class="input-group" style="max-width: 350px;">
            <input type="text" name="id" class="form-control" placeholder="검색하실 회원의 이름을 입력하세요.">
            <button class="btn btn-secondary" type="submit">검색</button>
        </div>
    </form>
 
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="display: inline-block">
        <a class="btn btn-secondary me-md-2" href="/member/new" >회원 추가</a>
        <a class="btn btn-dark" href="/">홈으로</a>
    </div>

    <br/>
    </div>  
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>